<ul class="dropdown loc-container">
  <li class="flyout">

      <a class="icon cross-fade">
        <svg height="24" viewBox="0 0 24 24" width="24" class="top">
            <path class="light" d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
        </svg>
        <svg x="0px" y="0px" viewBox="0 0 24 24" class="invert">
        <g>
            <circle class="light" cx="12" cy="9" r="2.5"/>
            <path class="light" d="M12,0C5.4,0,0,5.4,0,12s5.4,12,12,12s12-5.4,12-12S18.6,0,12,0z M12,22c0,0-7-7.8-7-13c0-3.9,3.1-7,7-7
                s7,3.1,7,7C19,14.3,12,22,12,22z"/>
        </g>
        </svg>
      </a>

      <!-- Flyout -->
      <ul class="flyout-content neu-static">
          <li class="flex center"><a href=#>Eastern Cape</a></li>
          <li class="flex center"><a href=#>Free State</a></li>
          <li class="flex center"><a href=#>Gauteng</a></li>
          <li class="flex center"><a href=#>KwaZulu-Natal</a></li>
          <li class="flex center"><a href=#>Limpopo</a></li>
          <li class="flex center"><a href=#>Mpumalanga</a></li>
          <li class="flex center"><a href=#>Northern Cape</a></li>
          <li class="flex center"><a href=#>North West</a></li>
          <li class="flex center"><a href=#>Western Cape</a></li>
          <li class="flyout-alt flex center">

              <a href=#>Baz Foo</a>

              <ul class="flyout-content neu-static">
                  <li class="flex center"><a href=#>Foo Bar</a></li>
                  <li class="flex center"><a href=#>Bar Baz</a></li>
                  <li class="flyout-alt flex center">

                      <a href=#>Baz Foo</a>

                      <ul class="flyout-content neu-static">

                          <li class="flex center"><a href=#>Bar Baz</a></li>

                      </ul>

                  </li>
              </ul>

          </li>
      </ul>

  </li>
</ul>