<%- include ('./partials/header.ejs') %>

<section>
  <div class="row">
    <h1 class="title">404 - Not Found</h1>
   <img src="/images/svg/notfound.svg" alt="">
  </div>

</section>




  <%- include ('./partials/footer.ejs') %>