<%- include ('./partials/header.ejs') %>

<section>
    <h1 class="title">Boost your Listings</h1>
    <div class="row">
        <%- include ('./partials/listings-displayAccount.ejs') %>
      </div>
      <div class="row">
          <a type="post">Hello</a>
      </div>
</section>

  <%- include ('./partials/footer.ejs') %>