<%- include ('./partials/header.ejs') %>

<section>
  <div class="row">
    <h1 class="title">Promotion</h1>
   
  </div>
  <div class="listing-container">

    <%- include ('./partials/listings-display.ejs') %>
   
    <!-- <div class="listing col">
 
      <div class="img-count row">
        <img src="/images/svg/camera.svg" alt="image count">
        <span>5</span>
      </div>
      <img class="listing-img" src="/images/alloy-tube.jpg" alt="listing preview">
      <div class="listing-header">
        <p class="truncate-overflow">Stainless Tubing Stainless Tubzfzczx Stainless Tubing</p>
      </div>
      <div class="listing-body">
        <p class="price">R2 000</p>
        <div class="location row">
          <img src="/images/svg/location.svg" alt="" class="top">
          <p>Location</p>
        </div>
       
      </div>
    </div>
    <div class="listing col">
 
      <div class="img-count row">
        <img src="/images/svg/camera.svg" alt="image count">
        <span>5</span>
      </div>
      <img class="listing-img" src="/images/alloy-tube.jpg" alt="listing preview">
      <div class="listing-header">
        <p>Stainless Tubing</p>
      </div>
      <div class="listing-body">
        <p class="price">R2 000</p>
        <p class="location">Location</p>
      </div>
    </div>
    <div class="listing col">
 
      <div class="img-count row">
        <img src="/images/svg/camera.svg" alt="image count">
        <span>5</span>
      </div>
      <img class="listing-img" src="/images/alloy-tube.jpg" alt="listing preview">
      <div class="listing-header">
        <p>Stainless Tubing</p>
      </div>
      <div class="listing-body">
        <p class="price">R2 000</p>
        <p class="location">Location</p>
      </div>
    </div>   
     <div class="listing col">
 
      <div class="img-count row">
        <img src="/images/svg/camera.svg" alt="image count">
        <span>5</span>
      </div>
      <img class="listing-img" src="/images/alloy-tube.jpg" alt="listing preview">
      <div class="listing-header">
        <p>Stainless Tubing</p>
      </div>
      <div class="listing-body">
        <p class="price">R2 000</p>
        <p class="location">Location</p>
      </div>
    </div> -->

  </div>


  
</section>




  <%- include ('./partials/footer.ejs') %>