<%- include ('./partials/header.ejs') %>

  <section>
    <div class="col post w-33">
      <h1 class="title">Post</h1>
      <form action="/newListing" method="post" id="post-form">
        <input type="hidden" name="date" id="date">
        <label for="drop-region">Images</label>
        <div id="drop-region" class="neu bg-color">
            <div class="drop-message">
                Drag & Drop images or click to upload
            </div>
            <div id="image-preview"></div>
        </div>
        <input type="file" multiple name="images" id="images" data-rule="required|maxfilesize-5-MB|fileextension-jpg-png-gif">

        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="neu" data-rule="required|length-5-20">
        <label for="price">Price</label>
        <input type="text" name="price" id="price" class="neu" data-rule="required|float">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity" class="neu" data-rule="notzero|integer">
        <label for="material">Material</label>
        <select name="material" id="material" class="neu" data-rule="required|material">
          <option value="" selected></option>
          <option value="stainless">Stainless</option>
          <option value="alloy">Alloy</option>
          <option value="carbon">Carbon</option>
          <option value="tool">Tool</option>
          <option value="other">Other</option>
        </select>

        <label for="type">Type</label>
        <div class="row between type neu-static">
          <input type="hidden" name="type" id="type" value='other-other' data-rule="required">
          <div class="col">
            <!-- <img class="preview-img" src="/images/types/bar-square.svg" alt="Preview of following Checkbox's"> -->
            <object class="preview-img" data="/images/types/bar-square.svg" width="150" height="150"></object>
            
          </div>
          <div class="col start base-type">
          
              <label class="radio row start">
                <span class="radio-input">
                  <input type="radio" name="base" id="bar" value="bar">
                  <span class="radio-control row neu"></span>
                </span>
                <span class="radio-label">Bar</span>
              </label>
          
        
              <label class="radio row start">
                <span class="radio-input">
                  <input type="radio" name="base" id="tubing" value="tubing">
                  <span class="radio-control row neu"></span>
                </span>
                <span class="radio-label">Tubing</span>
              </label>
         
              <label class="radio row start">
                <span class="radio-input">
                  <input type="radio" name="base" id="beam" value="beam">
                  <span class="radio-control row neu"></span>
                </span>
                <span class="radio-label">Beam</span>
              </label>
           
              <label class="radio row start">
                <span class="radio-input">
                  <input type="radio" name="base" id="sheet" value="sheet">
                  <span class="radio-control row neu"></span>
                </span>
                <span class="radio-label">Sheet</span>
              </label>
         
        
              <label class="radio row start">
                <span class="radio-input">
                  <input type="radio" name="base" id="mesh" value="mesh">
                  <span class="radio-control row neu"></span>
                </span>
                <span class="radio-label">Mesh</span>
              </label>
         

          </div>
          <div class="col start sec-type">
 
          </div>
        </div>
        <label for="description">Description</label>
        <textarea class="neu" name="description" id="description" cols="30" rows="6" data-rule="required|length-5-150" style="resize: none;">
        </textarea>

        <select name="province-select" id="province-select">
          <option class="flex center">Gauteng</option>
          <option class="flex center">Western Cape</option>
          <option class="flex center">Northern Cape</option>
          <option class="flex center">Eastern Cape</option>
          <option class="flex center">North West</option>
          <option class="flex center">Mpumalanga</option>
          <option class="flex center">Free State</option>
          <option class="flex center">KwaZulu-Natal.</option>
          <option class="flex center">Limpopo</option>
        </select>

        <!-- <input type="text" list="provinces-post" class="flyout-content neu-static"/>
        <datalist id="provinces-post">
           <option class="flex center">Gauteng</option>
           <option class="flex center">Western Cape</option>
           <option class="flex center">Northern Cape</option>
           <option class="flex center">Eastern Cape</option>
           <option class="flex center">North West</option>
           <option class="flex center">Mpumalanga</option>
           <option class="flex center">Free State</option>
           <option class="flex center">KwaZulu-Natal.</option>
           <option class="flex center">Limpopo</option>
        </datalist> -->

        <!-- <input type="text" list="suburb-post" class="flyout-content neu-static"/>
        <select id="suburb-post">
           <option>Depends on the province</option>
        </select> -->
        <form id="myForm">
          <select id="selectNumber">
            <option>Choose a number</option>
          </select>
        </form>
      
          <label for="autoCompleteGeo">Location</label>
          <input id="autoCompleteGeo" class="autoCompleteGeo neu" type="search" dir="ltr" 
          spellcheck="false" 
          autocorrect="off" 
          autocomplete="off" 
          autocapitalize="off" 
          maxlength="2048" 
          tabindex="1"
           role="combobox" 
           aria-haspopup="true" 
           aria-expanded="false" 
           aria-controls="autoComplete_list" 
           aria-autocomplete="both" placeholder="Search">

          <input type="hidden" name="location" id="location" value="24,24">

          <div class="results"></div>

          <button class="neu">
            Boost
          </button>
 

        <input type="submit" value="Post" class="neu">

      </form>

      <!-- <form action="https://sandbox.payfast.co.za/eng/process" method="post">
        <input type="hidden" name="merchant_id" value="10000100">
        <input type="hidden" name="merchant_key" value="46f0cd694581a">
        <input type="hidden" name="amount" value="100.00">
        <input type="hidden" name="item_name" value="Test Product">
        <input type="submit" value="Boost" class="neu">
      </form>  -->
    </div>

  </section>

  



  <%- include ('./partials/footer.ejs') %>