@import "mixins";
@import "flexbox";
@import "colors-text";
@import "spacing";

//VARIABLES
$footer-height: 10%;

::-webkit-input-placeholder {
  color: $text-color;
}
::-moz-placeholder {
  color: $text-color;
}
:-ms-input-placeholder {
  color: $text-color;
}
::-ms-input-placeholder {
  color: $text-color;
}
::placeholder {
  color: $text-color;
}

//BASE STYLES
html,
body {
  height: 100%;
  color: $text-color;
  overflow: overlay;
  overflow-x: hidden;
  background-color: $bg-color;
  scroll-behavior: smooth;
  @include prefix(transition, background-color 0.2s, (o, webkit));
  @include font;
  @include scrollbars(10px, #fff, $bg-color);
}

button {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
}

.bg-color {
  background-color: $bg-color;
}

svg {
  .light {
    fill: $text-color;
  }
  .dark {
    fill: $dark-color;
  }
  .line {
    stroke: #739db6;
    stroke-width: 7;
    stroke-miterlimit: 10;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: -10px;
  cursor: pointer;
}

.bold {
  font-size: 1.1em !important;
}

//cross-fade hover class
@include crossfade(".cross-fade");

//Neumorphism classes
.neu {
  @include neustyle($bg-color, true);
  &-static {
    @include neustyle($bg-color, false);
    &-i {
      @include neustyle($bg-color, false, topleft, true);
    }
  }
  &-i {
    @include neustyle($bg-color, true, topleft, true);
  }
}

//FORM

form {
  // @include flex(0 0 55%);
  width: 100%;
  height: fit-content;
  @include form($text-color);

  .radio {
    @include radio;
  }

  .autoComplete {
    &_highlighted {
      font-weight: 800;
    }
    &_list {
    width: 60%;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    &:focus {
      outline: none;
    }
    & > li:first-child {
      border-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    & > li:last-child {
      border-radius: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    & > li:only-child {
      border-radius: 20px;
    }
    & > li {
      // border-radius: 20px;
      padding: 10px;
      & > span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 70%;
      }
    }
  }
  }

  // select,
  // textarea {
  //   @include neustyle($bg-color, true);
  // }
  // input {
  //   @include neustyle($bg-color, true);
  // }
}

//NAVBAR

nav {
  @include justify-content(space-between);
  @include align-items(center);
  @include prefix(transition, background-color 0.2s, (o, webkit));
  height: 10%;
  margin-left: 1%;
  position: absolute;
  width: 98%;
  z-index: 10;

  #logo {
    width: 15%;
  }

  //DROPDOWN
  .dropdown {

    @include dropdown(135px, 100%);
    &.loc-container {
      position: absolute;
      right: 54px;
    }
  }

  //SEARCH
  .search {
    width: 65%;
    position: relative;
    input {
      height: 35px;
    }

    &-input {
      width: 100%;
      &::-webkit-search-cancel-button {
        position: relative;
        right: 85px;
        cursor: pointer;
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        border-radius: 10px;
        @include background("/images/svg/cross.svg", 50%);
      }
    }
    &-btn {
      position: absolute;
      right: 5px;
    }
    &-under {
      position: absolute;
      top: 50px;
      width: 100%;
      flex-direction: row-reverse;
    }
    &-filter {
      width: 40%;
      @include prefix("transition", all 0.2s, (o, webkit));
      span {
        margin-left: 10px;
        padding: 6px;
        border-radius: 20px;
        background-color: $bg-color;
        margin: 5px;
      }
      svg {
        vertical-align: bottom;
        cursor: pointer;
      }
    }
  }
  .nav-list {
    width: 15%;
    #acc-icon {
      width: 30px;
    }
  }
}

//AUTOCOMPLETE

// .autoComplete_list {
//   @include flex(1 1 0);
// }

//FLASH

.flash {
  z-index: 100;
  background-color: $bg-color;
  position: absolute;
  top: 15%;
  left: 5%;
  width: fit-content;
  border-radius: 20px;
  padding: 10px;

  .flash-close {
    cursor: pointer;
    display: flex !important;
    position: unset;
  }

  &.ok {
    color: $suc-color;
  }
  &.err {
    color: $err-color;
  }
}

//MODAL

.modal-window {
  @include prefix(backdrop-filter, blur(32px), (webkit));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9;
  opacity: 0;

  .tab-content {
    width: inherit;
    overflow: hidden;
    height: 245px;
  }

  form {
    padding: 0 32px;
    @include flex(0 0 auto);
  }

  .col.start {
    width: 85%;
  }

  input {
    width: 100%;
  }

  div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    border-radius: 25px;
    width: 400px;
    overflow-x: hidden;
    @include prefix("transition", all 0.2s, (o, webkit));
    padding: 2em;
    background-color: $bg-color;
  }

  h1 {
    font-size: 270%;
    margin: 0 0 30px;

    span {
      font-size: 30px;
      cursor: pointer;
      @include prefix("transition", all 0.2s, (o, webkit));
    }
  }
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    img {
      width: 25px;
    }
  }
}

//SECTION (BODY)

section {
  @include col(center, flex-start);
  min-height: 100% - $footer-height;
  margin-top: 120px;
}

//NOT FOUND

.not-found {
  width: 100%;
  padding-top: 5rem;
  img {
    width: 180px;
  }
}

//DESKTOP FIRST MEDIA QUERY

@include mq("tablet-wide") {
  nav {
    @include flex-direction(column);
    // #logo {
    //   // @include background("/images/svg/logo-sm.svg", 50%);
    // }
  }
  .col-sm {
    @include flex-direction(column !important);
  }
  .row-sm {
    @include flex-direction(row !important);
  }
}

//FOOTER

footer {
  height: $footer-height;
  p {
    // color: $text-color;
  }
}
