//WIDTH & PADDING

.mx-1000 {
  max-width: 1000px;
}
.mx-850 {
  max-width: 850px;
}

.mx-750 {
  max-width: 750px;
}
.mx-500 {
  max-width: 500px;
}

.m-40 {
  margin: 40px 0;
}

.p-40 {
  padding: 40px;
}