@import "mixins";
@import "partials";

.listing-info {
  width: 50%;
  padding: 5px 20px;
  border-radius: 20px;
  @include neustyle($bg-color, false);

  .price {
    font-size: 65px;
    margin: 0;
    color: #547285;
    text-align: center;
  
  }

  .map {
    @include neustyle($bg-color, false);
    border-radius: 20px;
    height: 250px; 
    width: 100%;
    padding: 20px;
    .col {
      @include flex(1 auto);
    }
    canvas {
      border-radius: 20px !important;
    }
  }

}

.slider {
  position: relative;
  display: block;
  width: 50%;
  height: 300px;
  overflow: hidden;
}
.slider__nav-bar {
  position: absolute;
  width: 180px;
  height: 60px;
  bottom: 0px;
  left: 50%;
  transform: translateX( -50% );
  border-radius: 90px;
  text-align: center;
  background: $bg-color;
  z-index: 100;
}
.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
  width: 54px;
  height: 54px;
  background:$bg-color;
  cursor: pointer;
  z-index: 100;
  border-radius: 50%;
  svg {
    @include neustyle($bg-color, true, topleft, true);
    border-radius: 50%;
  }
 

  &::before {
    content: "";
    background: $bg-color;
    width: 64px;
    height: 64px;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
  }
}
.slider__arrow_prev {
  left: 7px;
  width: 54px;
  height: 54px;
}
.slider__arrow_next {
  right: 7px;
  width: 54px;
  height: 54px;
}
.nav-control {
  border-radius: 50%;
  background-color: $bg-color;
  @include neustyle($bg-color, true);
  width: 32px;
  height: 32px;
  transition: 0.2s;
  cursor: pointer;
  z-index: 3;
  margin: 0 5px;
  .icon {
    transition: opacity 0.5s;
    opacity: 0;
  }
 
}
.nav-control_active {
  @include neustyle($bg-color, false, topleft, true);
  .icon {
    opacity: 1;
  }
}
.slider-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slider-list::before {
  content: '';
  display: block;
}
.slider-list__item {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.slider-list__item .main__element {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 3;
}
.slider-list__item .main__element img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  height: auto;
  top: 50%; left: 50%;
  transform: translate( -50%, -50% );
}



.slider-list__item_active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 2;
}


@media screen and (max-width: 640px) {

  .slider-list__item .title__element .title {
    font-size: 26vw;
  }

}

@media screen and (max-width: 560px) {

  .slider__nav-bar {
    /* hide dots for mobile */
    opacity: 0;
    z-index: -1;
  }

}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}